{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator</title>
    <link rel="stylesheet" href="{% static 'administrator/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'administrator/css/responsive.css' %}">
</head>

<body>
    <!-- for header part -->
  
    <header>
        <div class="logosec">
            <div class="logo">Administrator</div>
            <img src="{% static 'administrator/images/menu-icon.png' %}" class="icn menuicn" id="menuicn" alt="menu-icon">
        </div>

        <div class="searchbar">
            <input type="text" placeholder="Search">
            <div class="searchbtn">
              <img src="{% static 'administrator/images/search-icon.png' %}" class="icn srchicn" alt="search-icon">
            </div>
        </div>

        <div class="message">
            <div class="circle"></div>
            <img src="{% static 'administrator/images/message-icon.png' %}" class="icn" alt="">
            <div class="dp">
              <img src="{% static 'administrator/images/profile.png' %}" class="dpicn" alt="dp">
            </div>
        </div>
    </header>

    <div class="main-container">
        <div class="navcontainer">
            <nav class="nav">
                <div class="nav-upper-options">
                    <a href="{% url 'index'%}" >
                        <div class="nav-option option1">
                            <img src="{% static 'administrator/images/dashboard.png' %}" class="nav-img" alt="dashboard">
                            <h3> Dashboard</h3>
                        </div>
                    </a>

                    <a href="{% url 'requests'%}" >
                        <div class="option2 nav-option">
                            <img src="{% static 'administrator/images/articles.png' %}" class="nav-img" alt="requests">
                            <h3> Request</h3>
                        </div>
                    </a>
                    <a href="{% url 'report'%}" >
                        <div class="nav-option option3">
                            
                            <img src="{% static 'administrator/images/report.png' %}" class="nav-img" alt="report">
                            <h3> Report</h3>
                            
                        </div>
                    </a>
                    <a href="{% url 'profile'%}" >
                    
                    <div class="nav-option option5">
                        <img src="{% static 'administrator/images/profile.png' %}" class="nav-img" alt="profile">
                        <h3> Profile</h3>
                    </div>
                </a>

                    <div class="nav-option option6">
                        <img src="{% static 'administrator/images/settings.png' %}" class="nav-img" alt="settings">
                        <h3> Settings</h3>
                    </div>
                    <a href="{% url 'logout' %}">
                        <div class="nav-option logout">
                            <img src="{% static 'administrator/images/logout.png' %}" class="nav-img" alt="logout">
                            <h3>Logout</h3>
                        </div>
                    </a>
                </div>
            </nav>
        </div>
        <div class="main">
            <div class="searchbar2">
                <input type="text" placeholder="Search">
                <div class="searchbtn">
                  <img src="{% static 'administrator/images/search-button.png' %}" class="icn srchicn" alt="search-button">
                </div>
            </div>

            {% block mainsection %}{% endblock mainsection %}





        </div>
    </div>

    <script src="{% static 'administrator/js/index.js' %}"></script>
</body>
</html>
