{% extends "base.html" %}
{% load static %}
            {% block mainsection %}
            <div class="report-container">
                <div class="report-header">
                    <h1 class="recent-Articles">Request</h1>
                </div>
                
            </div>
      

    <script src="{% static 'administrator/js/index.js' %}"></script>
    <script>
        const csrfToken = '{{ csrf_token }}'; // Django template tag
    </script>
    {% load sweetify %}
          
    {% sweetify %}
    {% endblock mainsection %}